/*SCSS for element id root, body, and html*/
#root, body, html {
  /*Set the height of the content area to 100%*/
  height: 100%;
  /*Specifying the padding all sides of the #root, body, html element*/
  padding: 0;
  /*Specifying the margin width on all sides of the #root, body, html element*/
  margin: 0;
}